thead tr th{
    background-color: aqua;
    
    align-items: center;
}
#tabla{
    margin: auto;
    width: 40%;
}
td{
    height: 50px;
    width: 33%;
}
#respuesta{
    display: block;
    font-size: xx-large;
    color: white;
}