#hola{
    display: inline;
}
.btn{
    width: 100px;
    display: inline;
}    

.mensajeRojo{
    color: red;
}    

thead tr th{
    background-color: aqua;
    width: 100px;
    align-items: center;
}
#tabla{
    margin: auto;
    width: 40%;
}
td{
    height: 60px;
}
#respuesta{
    display: block;
    font-size: xx-large;
    color: red;
}